* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.containers {
  width: 100%;
}
.all_searched {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.all_searched h2 {
  font-size: 14px;
  font-weight: 600;
}
.containers .form-floating {
  width: 400px;
  margin: 0 auto;
  margin-top: 30px;
}

.containers .products {
  width: 100%;
  height: 100%;
  min-height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 40px;
  padding: 0 20px;
  position: relative;
}
.no_comments {
  position: absolute;
  color: darkblue;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: aliceblue;
  display: inline;
}
.products .product {
  padding: 20px;
  min-height: 200px;
  background-color: aliceblue;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}
.products .product:hover {
  background-color: rgb(219, 234, 247);
}
.products .product:hover p {
  color: rgb(248, 176, 82);
}
.product h1 {
  font-size: 16px;
}
.product p {
  font-size: 15px;
  color: blue;
}
.loader_box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 40px;
  left: 50%;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: darkblue;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

.loader_com {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 45px;
  height: 45px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rebeccapurple;
  border-color: rebeccapurple transparent rebeccapurple transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.modal-body h4 {
  color: antiquewhite;
}
.modal-body h5 {
  color: darkblue;
}
.modal-body p {
  color: darkblue;
}

@media (max-width: 1350px) {
  .containers .products {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 1200px) {
  .containers .products {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 700px) {
  .containers .products {
    grid-template-columns: 1fr;
  }
}
